$dark: #18171d;
$blue: #58bfcf;
$white: #fff;
$purple: #865dcf;
$purple-dark: #4c3e64;
$border-color: #222127;

$purple-gradient: linear-gradient(0deg, $blue 0%, $purple 100%);
$purple-gradient-anim: linear-gradient(
  0deg,
  $blue 0%,
  $purple 33.3333%,
  $blue 66.6666%,
  $purple 100%
);

@mixin desktop() {
  @media screen and (min-width: 1050.02px) {
    @content;
  }
}
@mixin tablet() {
  @media screen and (max-width: 1050px) {
    @content;
  }
}
@mixin tablet-only() {
  @media screen and (max-width: 1050px) and (min-width: 720.02px) {
    @content;
  }
}
@mixin tablet-small() {
  @media screen and (max-width: 720px) {
    @content;
  }
}
@mixin tablet-small-only() {
  @media screen and (max-width: 720px) and (min-width: 560.02px) {
    @content;
  }
}
@mixin mobile() {
  @media screen and (max-width: 560px) {
    @content;
  }
}

@mixin wrapper-inners($width: 50%, $top: 30px, $left: 30px, $margins: true) {
  @if ($width == auto) {
    flex: 1 1 0%;
    max-width: 100%;
  } @else {
    flex: 1 1 calc($width - $left);
    max-width: calc($width - $left);
  }

  @if ($margins) {
    margin-top: $top;
    margin-left: $left;
  }
}
@mixin wrapper($width: 50%, $top: 30px, $left: 30px) {
  display: flex;
  flex-wrap: wrap;
  margin-top: -$top;
  margin-left: -$left;

  & > * {
    @include wrapper-inners($width, $top, $left);
  }
}
._image-wrapper {
  color: inherit;
  display: block;
  overflow: hidden;
  position: relative;
  max-width: 100%;

  img {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: auto;
    min-width: 100%;
    min-height: 100%;
    object-fit: cover;
    transform: translate(-50%, -50%) scale(1.005);
  }

  &--contain {
    img {
      max-width: 100%;
      max-height: 100%;
      object-fit: contain;
    }
  }
}
._wrapper {
  @include wrapper();
}
._text {
  font-size: 1.14285rem;
  line-height: 1.375;

  @include tablet {
    font-size: 1.07142rem;
  }

  & > * + * {
    margin-top: 1.35em;
  }
  ul {
    padding-left: 1.65rem;
    list-style-type: none;
    list-style-position: outside;

    li {
      position: relative;

      &::before {
        top: 0.05rem;
        left: -1.05rem;
        content: "•";
        position: absolute;
      }
    }
  }
}
._gradient {
  padding: 1.8rem 6.8rem 2.6rem;
  border-radius: 0px 20px 20px 20px;
  background-image: $purple-gradient;

  background-image: $purple-gradient-anim;
  background-size: 100% 300%;
  background-position: center top;
  animation: grad-anim 8s linear 0s infinite;

  @extend %gradient !optional;

  @include tablet() {
    padding: 1.8rem 4rem 2.6rem;
  }
  @include tablet-small() {
    padding: 1.3rem 2.6rem 2.6rem;
  }
}
._full {
  @extend %full !optional;
}
._inner-heading {
  font-size: 2rem;
  font-weight: 600;
  margin-bottom: 1.3rem;
  letter-spacing: -0.02em;

  @include tablet-small() {
    margin-bottom: 1.1rem;
  }
}

.new_page {
  &__wrapper {
    @include wrapper();
    align-items: center;

    @include tablet-small() {
      & > * {
        @include wrapper-inners($width: 100%);
      }
    }
  }
  &__content {
    // &_image {
    // }
    .title__ {
      font-size: 3.3rem;
      line-height: 1.3;

      @include tablet {
        font-size: 2.4rem;
      }
      @include tablet-small() {
        font-size: 2.1rem;
      }
      @include mobile() {
        font-size: 1.85714rem;
      }
    }
  }
  &__info {
    &__hash {
      flex-wrap: wrap;

      @include tablet() {
        font-size: 12px;
      }
    }
  }
  &__image {
    &_wrapper {
      height: 386px;
      border-radius: 5px;

      @include tablet() {
        height: 300px;
      }
      @include tablet-small() {
        height: 400px;
      }
      @include mobile() {
        height: 259px;
      }
    }
  }
}
.new-project {
  $new-project-top: 7.9rem;
  $new-project-top-tablet: 5.5rem;
  $new-project-top-tablet-small: 3.5rem;

  padding: 3.3rem 0;
  counter-reset: new-project;

  @include tablet-small() {
    padding: 2.4rem 0;
  }

  &__items {
    @include wrapper($top: $new-project-top);

    @include tablet() {
      margin-top: -$new-project-top-tablet;
    }
    @include tablet-small() {
      margin-top: -$new-project-top-tablet-small;
    }

    & > * {
      @include tablet() {
        margin-top: $new-project-top-tablet;
      }
      @include tablet-small() {
        @include wrapper-inners(
          $width: 100%,
          $top: $new-project-top-tablet-small
        );
      }
    }
  }
  &__counter {
    &:before {
      display: inline;
      content: counters(new-project, ".", decimal-leading-zero);
      font-size: 1.42857rem;
      font-weight: 400;
      padding-right: 1.5rem;
      counter-increment: new-project;
    }
  }
  & + * {
    margin-top: 5rem;
  }

  %full {
    @include wrapper-inners($width: 100%, $margins: false);
  }
  a {
    color: $purple;

    &:hover {
      color: $white;
    }
  }
}

.featurettes {
  @include wrapper-inners($width: 100%, $margins: false);

  &__items {
    @include mobile() {
      margin-top: -20px;
    }
  }
  &__item {
    @include wrapper-inners($width: 25%, $margins: false);

    @include tablet-only() {
      @include wrapper-inners($width: 50%, $margins: false);
    }
    @include tablet-small-only() {
      @include wrapper-inners($width: 50%, $margins: false);
    }
    @include mobile() {
      @include wrapper-inners($width: 100%, $top: 20px);
    }
  }
  &__image-wrapper {
    width: 80px;
    height: 80px;
    margin: 0 auto 1.2rem;
    border-radius: 8px;
    background-color: $white;
  }
  // &__image {
  // }
  &__text {
    font-size: 1rem;
    text-align: center;
    line-height: 1.25;
  }
}
.text-block {
  &__text {
    %full & {
      font-weight: 600;
    }
  }
}
.results {
  @include wrapper-inners($width: 100%, $margins: false);

  &._center-lines {
    @extend %results-center-lines !optional;
  }
  &._numbers-background {
    counter-reset: results;

    @extend %results-numbers-background !optional;
  }
  // &__wrapper {
  // }
  &__item {
    @include wrapper-inners($width: 33.3333%);

    %results-center-lines & {
      &:nth-child(3n + 2) {
        padding-left: 3.5rem;
        padding-right: 3.5rem;
        border-left: 2px solid $purple;
        border-right: 2px solid $purple;
      }
    }
    %results-numbers-background & {
      position: relative;
      padding-top: 7.15rem;

      &::before {
        top: 0;
        left: 0;
        color: $purple;
        z-index: -1;
        opacity: 0.07;
        content: counters(results, ".", decimal-leading-zero);
        position: absolute;
        font-size: 158px;
        line-height: 1.1;
        font-weight: 600;
        letter-spacing: -0.02em;
        counter-increment: results;
      }
    }
    %results-center-lines%results-numbers-background & {
      &:nth-child(3n + 2) {
        &::before {
          left: 3.5rem;
        }
      }
    }

    @include tablet() {
      @include wrapper-inners($width: 100%, $margins: false);

      %results-center-lines & {
        &:nth-child(3n + 2) {
          padding: 30px 0;
          border-top: 2px solid $purple;
          border-left: none;
          border-right: none;
          border-bottom: 2px solid $purple;
        }
      }
    }
  }
  &__title {
    color: $purple;
    font-size: 1.28571rem;
    font-weight: 600;
    line-height: 1.222;
    margin-bottom: 1.4rem;
    letter-spacing: -0.02em;

    @include tablet() {
      margin-bottom: 1.1rem;
    }
  }
  // &__text {
  // }
}
.cards {
  @include wrapper-inners($width: 100%, $margins: false);

  // &__wrapper {
  // }
  &__item {
    border: 2px solid $border-color;
    overflow: hidden;
    border-radius: 12px;
    background-color: $dark;

    &:hover {
      @extend %np-cards-item-hover !optional;
    }

    @include desktop() {
      box-shadow: 0 0 10px transparent, inset 0 0 10px transparent;
      transition: border-color 0.5s ease-out, box-shadow 0.5s ease-out;

      &:hover {
        border-color: $purple;
        box-shadow: 0 0 30px $purple-dark, inset 0 0 10px $purple-dark;
      }
    }
    @include tablet-small() {
      @include wrapper-inners($width: 100%, $margins: false);
    }
  }
  &__image-wrapper {
    height: 274px;
    border-radius: 12px 12px 0 0;

    @include desktop() {
      &::after {
        top: 0;
        left: 0;
        right: 0;
        bottom: -30px;
        content: "";
        position: absolute;
        transition: box-shadow 0.5s ease-out;
        box-shadow: inset 0 0 10px transparent;

        %np-cards-item-hover & {
          box-shadow: inset 0 0 10px $purple-dark;
        }
      }
    }
    @include tablet() {
      height: 188px;
    }
    @include tablet-small() {
      height: 274px;
    }
    @include mobile() {
      height: 188px;
    }
  }
  &__image {
    color: $dark;

    @include desktop() {
      transition: transform 0.5s ease-out;

      %np-cards-item-hover & {
        transform: translate(-50%, -50%) scale(1.1);
      }
    }
  }
  &__text {
    padding: 2.1rem 3.65rem 2.75rem;

    @include tablet() {
      padding: 1.4rem 2.45rem 2.3rem;
    }
  }
}
.image-cards {
  @include wrapper-inners($width: 100%, $margins: false);

  // &__items {
  // }
  &__item {
    @include tablet() {
      @include wrapper-inners($width: 100%, $margins: false);
    }
  }
  &__cards {
    @include tablet-small() {
      @include wrapper($width: 50%, $top: 22px, $left: 22px);
    }
  }
  &__card {
    display: flex;
    padding: 1.2rem 2.15rem 1.5rem;
    font-size: 14px;
    font-weight: 600;
    line-height: 1.23;
    align-items: center;
    border-radius: 10px;
    background-color: $purple;

    @include tablet() {
      padding: 1.1rem 1.55rem 1.4rem;
    }
    @include tablet-only() {
      @include wrapper-inners($width: 33.3333%, $margins: false);
    }
  }
  &__image-wrapper {
    height: 100%;
    min-height: 335px;

    @include mobile() {
      min-height: 221px;
    }
  }
  &__image {
    color: $dark;
  }
}
.just-image {
  &__image-wrapper {
    overflow: hidden;
    border-radius: 2.084vw;

    @include mobile() {
      border-radius: 10px;
    }
  }
  &__image {
    width: 100%;
    height: auto;
    vertical-align: middle;
  }
}
.logos {
  &__text {
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 1.5rem;
  }
  &__items {
    @include wrapper($width: 14.28571%, $top: 23px, $left: 23px);

    @include mobile() {
      @include wrapper($width: 33.3333%, $top: 17px, $left: 17px);
    }
  }
  &__image-wrapper {
    height: 103px;
    display: flex;
    padding: 1.5rem 1.2rem;
    flex-wrap: wrap;
    align-items: center;
    border-radius: 10px;
    justify-content: center;
    background-color: $white;

    @include tablet-only() {
      @include wrapper-inners($width: 20%, $margins: false);
    }
    @include tablet-small-only() {
      @include wrapper-inners($width: 25%, $margins: false);
    }
    @include mobile() {
      height: 78px;
      padding: 1rem;
    }
  }
  &__image {
    width: auto;
    height: auto;
    max-width: 100%;
    max-height: 100%;
  }
}
.cases {
  &__inner {
    height: 0;
    position: relative;
    padding-bottom: 50%;
    background-color: $purple;

    @include mobile() {
      padding-bottom: 72%;
    }
  }
  &__heading {
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    margin-bottom: 0;
  }
}
.reviews {
  @include wrapper-inners($width: 100%, $margins: false);

  // &__wrapper {
  // }
  &__item {
    color: #18171d;
    padding: 2.6rem 3.65rem 3.65rem;
    max-width: calc(100% - 30px);
    border-radius: 10px;
    background-color: $white;

    &:nth-child(2n + 1) {
      @extend %reviews-odd-item !optional;
    }
    @include desktop() {
      transform: scale(1);
      transition: transform 0.15s ease-out;

      &:hover {
        transform: scale(1.01);
      }
    }

    @include tablet-small() {
      @include wrapper-inners($width: 100%, $margins: false);
    }
    @include tablet() {
      padding: 1.7rem 2.45rem 2.3rem;
    }
  }
  &__author {
    color: $dark;
    font-size: 1.5rem;
    font-weight: 600;
    line-height: 1.222;
    letter-spacing: -0.02em;
  }
  &__position {
    color: $blue;
    font-size: 1.28571rem;
    margin-top: 0.4rem;
    font-weight: 600;
    line-height: 1.222;
    letter-spacing: -0.02em;

    %reviews-odd-item & {
      color: $purple;
    }
  }
  &__text {
    margin-top: 1.4rem;

    @include tablet() {
      margin-top: 0.8rem;
    }
  }
}
.examples {
  margin-top: -131px;
  margin-bottom: 112px;

  .page-category__title {
    text-align: left;
    margin-bottom: 57px;
  }
  &__wrapper {
    @include wrapper($width: 20%, $top: 30px, $left: 50px);

    @include tablet-only() {
      @include wrapper($width: 33.3333%);
    }
    @include tablet-small-only() {
      @include wrapper($width: 50%);
    }
    @include mobile() {
      @include wrapper($width: 100%, $top: 20px);
    }
  }
  &__item {
    color: $white;
    display: flex;
    position: relative;
    font-size: 14px;
    font-weight: 500;
    line-height: 1.214;
    align-items: center;
    text-decoration: none;

    @include desktop() {
      &::before {
        top: -5px;
        left: -5px;
        right: -15px;
        bottom: -5px;
        opacity: 0;
        content: "";
        z-index: -1;
        position: absolute;
        transition: opacity 0.3s;
        border-radius: 15px;
        background-color: $white;
      }
      &:hover::before {
        opacity: 1;
      }
    }
  }
  &__image-wrapper {
    width: 60px;
    height: 60px;
    flex-shrink: 0;
    border-radius: 10px;
  }
  // &__image {
  // }
  &__title {
    color: inherit;
    margin-left: 15px;
    text-decoration: none;

    @include desktop() {
      transition: color 0.3s;

      &:hover {
        color: $dark;
      }
    }

    &::before {
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      content: "";
      display: block;
      position: absolute;
    }
  }
}

@keyframes grad-anim {
  0% {
    background-position: center top;
  }
  100% {
    background-position: center bottom;
  }
}
